<!DOCTYPE html>
<html lang="en">
<head>
    <%-include("./partials/head") %>
    <title>Add Blog</title>
</head>
<body>
    <%-include("./partials/nav") %>

    <div class="container mt-3">
        <form action="/blog" method="post" enctype="multipart/form-data">
            <div class="form-group mb-3">
                <label for="coverImage">Cover Image</label>
                <input type="file" class="form-control" name="coverImage" id="coverImage" >
              </div>
            <div class="form-group mb-3">
              <label for="title">Title</label>
              <input type="text" class="form-control" name="title" id="title" >
            </div>
            <div class="form-group mb-3">
                <label for="body">Body</label>
                <textarea class="form-control" name="body" id="body" rows="3"></textarea>
            </div>
            <div class="mb-3">
                <button class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>

    <%-include("./partials/script") %>
</body>
</html>